.table2 {
    padding: 20px;
    background-color:#CCC; 
    width: 900px;
    border-radius: 10px;
    font-family: Calibri,Verdana,Century Gothic,serif;
    font-size: 11px;
    margin: 20px 0 20px 0 !important;
    border-collapse: collapse;


}

.table2 th {
    padding-top: 10px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 10px;
    text-align: center;
    vertical-align: top;
}
.table2 td {
    text-align: center;
}


thead tr {
    background-color: #2f7c00;
    color: #ffffff;
    font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica,sans-serif;
    
    
    
}



th.sorted {
    background-color: gray;
}

th a,th a:visited {
    color: #ffffff;
}

th a:hover {
    text-decoration: underline;
    color: #ffffff;
}

th.sorted a,th.sortable a {
    background-position: right;
    display: block;
    width: 100%;
}

th.sortable a {
    background-image: url(../img/arrow_off.png);
}

th.order1 a {
    background-image: url(../img/arrow_down.png);
}

th.order2 a {
    background-image: url(../img/arrow_up.png);
}

tr.odd {
    /* background-color: #fff*/

}

tr.even {
     background-color: #fea;
}

tr.tableRowEven,tr.even {
    /*    background-color: #fea
    background-color: #ffffff;*/

}

div.exportlinks {
    background-color: #eee;
    border: 1px dotted #999;
    padding: 2px 4px 2px 4px;
    margin: 2px 0 10px 0;
    width: 79%;
}

span.export {
    padding: 0 4px 1px 20px;
    display: inline;
    display: inline-block;
    cursor: pointer;
}

span.excel {
    background-image: url(../img/ico_file_excel.png);
}

span.csv {
    background-image: url(../img/ico_file_csv.png);
}

span.xml {
    background-image: url(../img/ico_file_xml.png);
}

span.pdf {
    background-image: url(../img/ico_file_pdf.png);
}

span.rtf {
    background-image: url(../img/ico_file_rtf.png);
}

span.pagebanner {
    background-color: #fbd850;
    border-radius: 10px;
    padding: 10px 10px 10px 80px;
    width: 810px;
    margin-top: 10px;
    display: block;
    border-bottom: none;
    margin-bottom: -25px;
}

span.pagelinks {
    background-color: #fbd850;
    border-radius: 10px;
    padding: 10px 10px 10px 80px;
    width: 810px;
    margin-top: 10px;
    display: block;
    border-bottom: none;
    margin-bottom: -5px;
}


.group-1 {
    font-weight:bold;
    padding-bottom:10px;
    border-top:1px solid black;
}
.group-2 {
    font-style:italic;
    border-top: 1px solid black;

}
.subtotal-sum, .grandtotal-sum {
    font-weight:bold;
    text-align:right;
}
.subtotal-header {
    padding-bottom: 0px;
    border-top: 1px solid white;
}
.subtotal-label, .grandtotal-label {
    border-top: 1px solid white;
    font-weight: bold;
}
.grouped-table tr.even {
    /*background-color: #fff;*/
}
.grouped-table tr.odd {
    color: #ffffff;
}
.grandtotal-row {
    border-top: 2px solid black;
}
