@charset "utf-8";
/* CSS Document */



/* ------------------------------------------------------------------- */
/*   Vendor: FYSAL                         				             */
/*   UI Development: Hezekiah otomofa - HTTP://CREATEIT.COM.NG                                 */
/* ------------------------------------------------------------------- */

/* ------------------------------------------- */
/* HTML5 âœ° Boilerplate						   */
/* ------------------------------------------- */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

::-moz-selection{ background: #ccc; color:#fff; text-shadow: none; }
::selection { background:#ccc; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #ccc; }

/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    color: #545454;
    text-transform: none;
    margin: 0px;
    padding:0;
	font-weight: 300;
	font-family:Helvetica, sans-serif !important;
}

/* ------------------------------------------- */
/* |	4 Section Design	|				   */
/* ------------------------------------------- */
body, img{
	transition: width .25s, background-color .5s, font-size 1s, height 2s;
	/* Animation Property */
animation-property: width;
animation-property: height;
transition-duration: 1s;

/* webkit */
-webkit-animation-property: width;
-webkit-animation-property: height;
-webkit-transition-duration: 1s;

/* moz */
-moz-animation-property: width;
-moz-animation-property: height;
-moz-transition-duration: 1s;

/* opera */
-o-animation-property: width;
-o-animation-property: height;
-o-transition-duration: 1s;
}

html, body {
	font-family:Helvetica, sans-serif !important;
	color: #333333;
	padding: 0;
	margin:0;
	height:100%;
	background:#f8f8f8;
	line-height: 1.4;
	font-size:13px;
	width:100%;
}

a, a:link, a:active, a:visited { text-decoration: none; color:#111111; text-decoration:none; }
a:hover { color:#000000; text-decoration:underline; }


/* Global DIVS
---------------------------- */
.clear{clear:both; margin:0; padding:0;}
.hm_global{
	clear:both;
	margin:0; padding:0;
	width:100%;
	position:relative;
	min-height:100%;
}
.wrapper{
	clear:both;
	margin:0 auto;
	width:1070px;
	border:1px #e9e9e9 solid;
	border-top:none;
	background-color:#fff;
}
/* LogOut DIVS
---------------------------- */
.logoutwrap{
	clear:both;
	position:relative;
	height:680px;
	background:url(../images/upv.png) no-repeat 50% 100%;
}
.logcontent{
	clear:both;
	padding:40px 30px;
	position:relative;
	z-index:999;
}
.loglogo{
	clear:both;
}
.thanks{
	padding:60px 0 0 0;
}
.thanks p{
	color:#182763;
	font-size:18px;
	margin-bottom:10px;
}
.thanks a{
	color:#fff;
	font-size:18px;
	padding:7px 15px;
	font-style:italic;
	font-weight:500;
	background:#00923f;
}
.thanks a:hover{
	background:#182763;
	text-decoration:none;
}
.lets{
	clear:both;
	padding:80px 0 0 0;
}
.lets h2{
	color:#2f418b;
	font-size:45px;
	font-style:italic;
	font-weight:400;
	line-height:1;
}
.lets h1{
	color:#00903b;
	font-size:75px;
	font-style:italic;
	font-weight:400;
	line-height:1;
}
.lets h3{
	color:#5c5c5c;
	font-size:30px;
	font-weight:400;
	line-height:1.5;
}
.enjoy{
	position:absolute;
	bottom:0;
	width:96%;
	background:#2f418b;
	padding:15px 2%;
	z-index:1;
}
.enjoy h3{
	color:#fff;
	font-size:24px;
	font-weight:300;
}
.enjoy h4{
	color:#fff;
	font-size:16px;
	font-weight:300;
}
.phone_app{
	position:absolute;
	bottom:0;
	right:20px;
	z-index:2;
}
.phone_app img{
	display:block;
}
/* Social */
.social{
	clear:both;
	border-top:1px #cfcfcf dotted;
	padding:10px 0;
	text-align:center;
}
.social a{
	padding:0 3px;
	text-decoration:none;
}
.social img:hover{
	opacity:0.5;
}
/* Footer DIVS
---------------------------- */
.footer{
	clear:both;
	width:650px;
	margin:10px auto;
	text-align:center;
}
.plus{
	margin-top:80px;
}
/* Main App DIVS
---------------------------- */
.header{
	clear:both;
}
.head{
	clear:both;
}
.logo{
	float:left;
	width:20%;
	padding:40px 40px;
}
.loginfo{
	float:right;
	width:40%;
	padding:45px 0 0 0;
}
.lastlog{
	float:right;
	padding:5px 30px 5px 10px;
	background:#8c8b8b;
	color:#fff;
	font-size:12px;
	clear:both;
	/* Prevent background color leak outs */
	  -webkit-background-clip: padding-box; 
	  -moz-background-clip:    padding; 
	  background-clip:         padding-box!important;
	  -webkit-border-top-left-radius:5px; 
	  -moz-border-top-left-radius:5px; 
	  border-top-right-left:5px;
	  -khtml-border-top-left-radius:5px;
	  -webkit-border-bottom-left-radius:5px; 
	  -moz-border-bottom-left-radius:5px; 
	  border-bottom-left-radius:5px;
	  -khtml-border-bottom-left-radius:5px;
}
.lastime{
	clear:both;
	float:right;
	padding:5px 30px;
}
.trustmenu{
	clear:both;
	background:#15235c url(../images/menu_bg.jpg) repeat-x;
	width:100%;
}
.welcome{
	float:left;
	width:55%;
}
.welcome h2{
	font-size:18px;
	color:#ffffff;
	padding:8px 0 8px 36px;
	font-weight:100;
}
.logstatus{
	float:right;
	width:40%;
}
.logstatus>ul{
	clear:both;
	margin:0;
	padding:0;
	float:right;
        background:#005625 url(../images/logstatus_bg.jpg) repeat-x;
}
.logstatus>ul>li{
	float:left;
	display:inline;
}
.logstatus>ul>li a{
	padding:12px 30px;
	color:#fff;
	display:block;
	background:url(../images/white_arrow.png) no-repeat 15px 50%;
	font-size:14px;
        cursor:pointer;
}
.logstatus>ul>li input, .logstatus>ul>li button{
    background-color: transparent;
    border: none;
    color:#fff;
    cursor:pointer;
    font-size:14px;
}
.logstatus>ul>li input:hover, .logstatus>ul>li button:hover,
.logstatus>ul>li a:hover{
    text-decoration: underline;
}
.nametag{
	background:url(../images/nametag_bg.jpg) repeat-x;
	margin:0 1px;
	height:45px;
}
.namelog{
	float:left;
	width:40%;
	padding:13px 0 13px 36px;
}
.namelog h2{
	color:#434343;
	font-size:14px;
	font-weight:600;
	text-transform:uppercase;
}
.namelog h2 span{
	color:#00923f;
}
.notify{
	float:right;
	width:50%;
	text-align:right;
	padding:13px 20px 13px 0;
}
.notify strong{
	font-weight:bold;
}
.notify span{
	padding:0 5px;
}
.maincontainer{
	clear:both;
	padding:15px;
}
.sidebar{
	background:#f2f2f2;
	width:30%;
	float:left;
}
.maincontent{
	float:right;
	width:67%;
	padding:25px 0 0 0;
}
.maincontent h2{
	color:#202f70;
	font-size:18px;
	font-weight:500;
	text-transform:uppercase;
}
.adbanner{
	clear:both;
}
.adbanner img{
	width:100%;
	display:block;
	border-top:1px #cfcfcf dotted;	
}
.myform{
	border:1px #dfdede solid;
	clear:both;
	padding:20px;
	margin:20px 0 0 0;
	/* Prevent background color leak outs */
	  -webkit-background-clip: padding-box; 
	  -moz-background-clip:    padding; 
	  background-clip:         padding-box!important;
	  -webkit-border-radius:5px; 
	  -moz-border-radius:5px; 
	 	 border-radius:5px;
	  -khtml-border-radius:5px;
	  -webkit-border-radius:5px; 
	  -moz-border-radius:5px; 
	  border-radius:5px;
	  -khtml-border-radius:5px;
}
.myform table{
	border-collapse:collapse;
	width:100%;
}
.myform table td{
	padding:7px 15px;
}
.myform p{
	font-size:13px;
	margin-bottom:5px;
}
.myform input, .myform textarea{
	width:94%;
	padding:5px 2%;
	border:1px #a9a9a9 solid;
}
.myform textarea{
	min-height:60px;
}
.myform select{
	width:98%;
	padding:5px 2%;
	border:1px #a9a9a9 solid;
}
.myform input:focus, .myform select:focus, .myform textarea:focus{
	background:#0f7b91;
	color:#fff;
}
.inputtitle{
	font-weight:bold;
}
.required{
	color:red;
}
.attention{
	background:#d9dce7;
	padding:10px 15px;
	margin:20px 0 0 0;
	/* Prevent background color leak outs */
	  -webkit-background-clip: padding-box; 
	  -moz-background-clip:    padding; 
	  background-clip:         padding-box!important;
	  -webkit-border-radius:5px; 
	  -moz-border-radius:5px; 
	 	 border-radius:5px;
	  -khtml-border-radius:5px;
	  -webkit-border-radius:5px; 
	  -moz-border-radius:5px; 
	  border-radius:5px;
	  -khtml-border-radius:5px;
}
.logscreen{
	clear:both;
	padding:30px 4% 70px 4%;
	position:relative;
	width:92%;
}
.logscreen img{
	width:100%;
}
.logbullet{
	position:absolute;
	left:240px;
	top:100px;
	width:200px;
}
.logbullet h3{
	font-size:24px;
	font-style:italic;
	font-weight:600;
	color:#fff;
	line-height:1.2;
}
ul.bullist{
	clear:both;
	margin:10px 0 0 0;
}
ul.bullist li{
	background:url(../images/bullet.png) no-repeat 0 50%;
	font-size:17px;
	display:block;
	color:#fff;
	padding:5px 0 5px 35px;
}
.loglead{
	position:absolute;
	right:150px;
	top:100px;
	width:400px;
	color:#fff;
}
.loglead h2{
	font-size:40px;
	font-weight:300;
	color:#fff;
	line-height:1.2;
}
.logbtn{
	margin-top:20px;
}
.logbtn a, #signIn_field input{
	font-size:12px;
	text-transform:uppercase;
	background:url(../images/logbtn_bg.jpg) repeat-x;
	font-weight:600;
	padding:7px 20px;
	color:#533401;
	border:1px #fff solid;
	border-color:transparent;
	cursor:pointer;
}
.logbtn a:hover, #signIn_field input:hover{
	background:#f59204;
	text-decoration:none;
	border:1px #fff solid;
}
.letus{
	background:#dddddd url(../images/letus.jpg) repeat-x;
	border:1px #c6c6c6 solid;
	position:absolute;
	width:92%;
	text-align:center;
	margin:20px 0 0 0;
}
.letus h2{
	color:#2f418b;
	font-size:40px;
	font-weight:500;
	padding:20px 0;
	font-style:italic;
}
.letus h2 span{
	color:#00903b;
}
.logplus{
	left:250px;
	top:60px;
	width:350px;
}
.logbox{
	position:absolute;
	background:#f8f8f8;
	border:1px #b5b4b4 solid;
	width:340px;
	top:45px;
	height:250px;
	padding:20px;
	right:60px;
	/* Prevent background color leak outs */
	  -webkit-background-clip: padding-box; 
	  -moz-background-clip:    padding; 
	  background-clip:         padding-box!important;
	  -webkit-border-radius:5px; 
	  -moz-border-radius:5px; 
	 	 border-radius:5px;
	  -khtml-border-radius:5px;
	  -webkit-border-radius:5px; 
	  -moz-border-radius:5px; 
	  border-radius:5px;
	  -khtml-border-radius:5px
}
.signy, .rmb{
	clear:both;
	margin:0 0 7px 0;
}
.signy p{
	margin:0 0 5px 0;
}
.signy input{
	border:1px #abadb3 solid;
	width:220px;
	background:#fff;
	padding:3px 5px;
}
.signy input:focus{
	background:#f1f1f1;
}
hr { display: block; height: 1px; border: 0; border-top: 1px dotted #a3a3a3; margin: 1em 0; padding: 0; }
ul.forgetton{
	clear:both;
	margin:0 0 10px 0;
}
ul.forgetton li{
	display:block;
}
ul.forgetton li, ul.forgetton li a{
	display:block;
	background:url(../images/logbullet.jpg) no-repeat 0 50%;
	padding:3px 0 3px 20px;
	font-weight:bold;
	font-size:11px;
	color:#646464;
}
.submit input, #passwd a{
	width:auto;
	margin:0 7px;
	padding:5px 15px;
	cursor:pointer;
	color:#333;
	
	 background: #dcdcdc; /* Fallback */
    background: -moz-linear-gradient(#dcdcdc, #ededed 10%);
    background: -ms-linear-gradient(#dcdcdc, #ededed 10%);
    background: -o-linear-gradient(#dcdcdc, #ededed 10%);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#dcdcdc), color-stop(0.1, #ededed));
    background: -webkit-linear-gradient(#dcdcdc, #ededed 10%);
    background: linear-gradient(#fff, #ededed 10%);
	border:1px #dcdcdc solid;
	/* Prevent background color leak outs */
	  -webkit-background-clip: padding-box; 
	  -moz-background-clip:    padding; 
	  background-clip:         padding-box!important;
	  -webkit-border-radius:3px; 
	  -moz-border-radius:3px; 
	 	 border-radius:3px;
	  -khtml-border-radius:3px;
	  -webkit-border-radius:3px; 
	  -moz-border-radius:3px; 
	  border-radius:3px;
	  -khtml-border-radius:3px
}
.submit input:hover, #passwd a:hover{
	background:#0f7b91;
	color:#fff;
        text-decoration: none;
}
#main-content{
    margin:0!important;
    padding:0!important;
}
ul#main-nav{
    padding:10px 15px;
    clear:both;
}
ul#main-nav>li{
    display:block;
    margin:5px 0;
}
ul#main-nav>li>a{
    background: #fff url(../images/plus.gif) no-repeat 100% 50%;;
    display: block;
    padding:10px;
    color:#333;
    font-size:16px;
}
ul#main-nav>li>a.current{
    background: #00923f url(../images/minus.gif) no-repeat 100% 50%;
    color:#fff;
}
ul#main-nav>li>a:hover{
    background-color: #2f418b;
    color: #fff;
    text-decoration: none;
}
ul#main-nav>li>ul{
    clear:both;
    margin:0;
    padding: 0;
}
ul#main-nav>li>ul>li{
    display: block;
}
ul#main-nav>li>ul>li>a{
        background:#c0bebe;
    display: block;
    padding:10px;
    color:#333;
    font-size:14px;
    margin-bottom: 1px;
}
ul#main-nav>li>ul>li>a:hover{
    background:#2f418b;
    color: #fff;
    text-decoration: none;
}
/* -------------------- */
ul#main-nav>li>ul>li>ul{
    clear:both;
    margin:0;
    padding: 0;
}
ul#main-nav>li>ul>li>ul>li{
    display: block;
}
ul#main-nav>li>ul>li>ul>li>a{
    background:f1f1f1;
    display: block;
    padding:10px;
    color:#333;
    font-size:14px;
    border-bottom:1px #fff solid;
}
ul#main-nav>li>ul>li>ul>li>a:hover{
    background:#333;
    color: #fff;
    text-decoration: none;
}

#passwd{
    display: none;
    clear: both;
  padding: 20px;
  background-color: #f1f1f1;
}
#passwd label{
    padding: 0 5px;
    font-weight: 600;
}

/* ====================== Responsive Design =========================== */
/* -------------- 1024px ----------- */
@media only screen 
and (max-width:1024px) {
	.wrapper{
		width:100%;
		border:none;
	}
	.logplus{
		left:220px;
	}
	.logbox{
		right:50px;
		top:35px;
		width:320px;
	}
}

/* -------------- 800px ----------- */
@media only screen 
and (max-width:800px) {
	.sidebar, .maincontent{
		clear:both;
		float:none;
		width:100%;
	}
	.logscreen>img{
		display:none;
	}
	.loglead{
		position: relative;
		background:#00813E;
		width:auto;
		left:0;
		top:0;
		padding:20px;
	}
	.logbox{
		position: relative;
		width:auto;
		left:0;
		padding:20px;
		margin-top:20px;
		height:auto;
		top:0;
	}
	.logbullet{
		position: relative;
		width:auto;
		left:0;
		padding:20px;
		margin-top:20px;
		height:auto;
		top:0;
		
		background:#73B5CD;
	border:1px #4196B6 solid;
	/* Prevent background color leak outs */
	  -webkit-background-clip: padding-box; 
	  -moz-background-clip:    padding; 
	  background-clip:         padding-box!important;
	  -webkit-border-radius:5px; 
	  -moz-border-radius:5px; 
	 	 border-radius:5px;
	  -khtml-border-radius:5px;
	  -webkit-border-radius:5px; 
	  -moz-border-radius:5px; 
	  border-radius:5px;
	  -khtml-border-radius:5px
	}
	.logoutwrap{
		height:auto;
	}
	.logcontent{
		text-align:center;
	}
	.phone_app{
		position:relative;
		text-align:center;
	}
	.phone_app img{
		display:inline-block;
	}
	.enjoy{
		position:relative;
	}
}

/* -------------- 640px ----------- */
@media only screen 
and (max-width:640px) {
	.myform table td{
		display:block;
	}
	.footer{
		width:auto;
		padding:20px;
	}
	.welcome, .logstatus{
		float:none;
		clear:both;
		width:100%;
	}
	.logstatus>ul{
		float:none;
		width:100%;
	}
	.logstatus>ul>li{
		width:50%;
	}
}
/* -------------- 480px ----------- */
@media only screen 
and (max-width:480px) {
	.logo{
		clear:both;
		float:none;
		width:auto;
		padding:20px;
	}
	.loginfo{
		clear:both;
		float:none;
		width:auto;
		padding:0;
	}
	.phone_app img{
		display:block;
		width:100%;
	}
	.thanks a{
		display:block;
	}
	.enjoy{
		width:auto;
		padding:20px;
	}
}
/* -------------- 320px ----------- */
@media only screen 
and (max-width:320px) {
	.logstatus>ul>li{
		width:100%;
		float:none;
		display:block;
	}
}