/* keyboard - jQuery UI Widget */
.ui-keyboard { padding: .3em; position: absolute; left: 0; top: 0; z-index: 16000; }
.ui-keyboard div { font-size: 0.9em; }
.ui-keyboard-button { height: 1.5em; width: 1.5em; margin: .1em; cursor: pointer; }
.ui-keyboard-widekey { width: 4em; }
.ui-keyboard-space { width: 15em; }
.ui-keyboard-preview { text-align: left; margin-bottom: 3px; } /* width: 100%; now full window width in IE =( */ 
.ui-keyboard-keyset { text-align: center; }
.ui-keyboard-input { text-align: left; }

/* only used in IE to prevent clicking in another input/textarea */
.ui-keyboard-overlay { height: 100%; width: 100%; background: transparent; position: absolute; top: 0; left: 0; z-index: 15999; }