.mandatory-flag {
color: #690033;
cursor: help;
}

span.mandatory-flag {
margin: 0 0.5em;
border-bottom: 1px dotted;
font-weight: bold;
text-align: right;
}

.fillme, .requestme {
padding: 0.25em 0.75em;
}

.requestme {
background: #fff; /* #CFE1E5;  #DBDCD7; */
}

.fillme {
background: #F0EEE9;
}

.fillme input,.fillme select, .fillme textarea,
.requestme input, .requestme select, .requestme textarea {
border: 1px solid #BBBCB7;
}

input.radio, input.checkbox {
border: 0px none;
}

.radiogroup {
border-right: 1px solid #BBBCB7;
margin-right: 0.25em;
}

input.counter {
border: none;
background: transparent;
padding: 0;
margin: 0;
}

table.wbsFormElements {
border-collapse: separate;
border-spacing: 0 0.4em;
}

.wbsFormElements textarea.bbcode {
background: left top repeat url("/common/graphics/icon_bbcode.png");
width: 95%;
}

.wbsFormElements fieldset {
border: 1px dotted #333;
margin: 0.5em auto;
padding: 0.5em;
background-color: #f6f6f6;
clear: both;
}

.wbsFormElements fieldset legend {
display: block;
border: 1px dotted #333;
background-color: #f3f1e7;
padding: 1px 3.5em;
font-size: 90%;
font-weight: bold;
}

.wbsFormElements div.row {
padding: 0.25em 0;
}

.wbsFormElements div.label {
display: inline;
float: left;
width: 25%;
text-align: right;
font-size: 90%;
}

.wbsFormElements label.label {
font-size: 90%;
}

.wbsFormElements div.formElement {
display: inline;
float: right;
width: 72%;
text-align: left;
}

.wbsFormElements p.formElement {
font-size:90%;
margin:1.25em 0 0.75em 28%;
}

.wbsFormElements div.formElement.action {
text-align: right;
width: 100%;
}

.wbsFormElements div.formElement input, .wbsFormElements div.formElement select, .wbsFormElements div.formElement textarea {
max-width: 95%;
}

.wbsFormElements div.spacer {
clear: both;
}

.wbsFormElements,
.wbsFormElements input, .wbsFormElements a, .wbsFormElements label, .wbsFormElements select,
div.wbsFormElements fieldset {
/***
* Removing the "position: relative;" as causes a z-index issue when choosing an image
* from the rich html editor (see trac ticket #394)
* position: relative;
*/
}

.wbsFormElements div.note {
background: left top no-repeat url("../images/icon_formnote-top.png");
margin-top: -10px;
padding-top: 20px;
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: 0.7em;
line-height: 1.35em;
max-width: 40em;
}

.wbsFormElements p.note {
margin: 0.75em 0 0.25em 0;
padding: 5px 0.5em;
background: #F3F1E7;
border-bottom: solid 1px #F3EEC2;
}

.wbsFormElements button.bigsubmit {
padding: 10px 20px;
font-size: 1.3em;
background: left top no-repeat url("/common/graphics/button_flare.gif");
}

.wbsFormElements button.warningsubmit {
padding: 10px 20px;
font-size: 1.3em;
background-color: #990033;
color: white;
}